{% extends "account/index.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="w3-container w3-left-align" style="padding: 0 15%">
    <div class="w3-panel w3-blue-grey w3-center-align" style="margin: 50px 100px; text-align: center;"> 
        <h4>CURRENT BALACE IN YOUR ACCOUNT</h4> 
        <h1 id="curr_bal" class="btn-danger">{{ curr_user.balance }}€</h1> 
    </div>
    <h1>{{ title }}</h1>
    <hr>
    <form method="POST" action="" >
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <input class="w3-button w3-blue-grey w3-round" type="submit" value='{{ title }}'>
    </form>
</div>
{% endblock content %}