{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png"  href="{% static 'account/homepage.png' %}">
  <title>Bank-App</title>
</head>
<body>
  <div style="background-color: #213e5f" class="w3-bar">
    <a class="w3-bar-item w3-right">
          <img src="{% static 'account/homepage.png' %}" style="max-height: 50px; max-width: auto;">
    </a>
    <a class="w3-bar-item w3-right" href="{% url 'index' %}" style="text-decoration: none;">
      <span style="color: #ffffff; line-height: 50px; font-size: 24px;">Bank-App</span>
    </a>
    <a class="w3-bar-item w3-left">
      <span style="color: #ffffff; line-height: 50px; font-size: 24px;">{{ user }}</span>
    </a>
  </div>
  <div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width:200px;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-hide-large"
    onclick="w3_close()">Close &times;</button>
    <a href="{% url 'deposit' %}" class="w3-bar-item w3-button" id="transfer">Deposit</a> <br> <br>
    <a href="{% url 'withdrawal' %}" class="w3-bar-item w3-button" id="transfer">Withdrawal</a> <br> <br>
    <a href="{% url 'transfer' %}" class="w3-bar-item w3-button" id="transfer">Transfer</a> <br> <br>
    <a href="{% url 'transactions' %}" class="w3-bar-item w3-button" id="transfer">Transactions</a> <br> <br>
    <a href="{% url 'logoutuser' %}" class="w3-bar-item w3-button" id="transfer">Logout</a> <br> <br>
  </div>
  {% block content %}
  <div class="w3-container" style="padding-left:10%">
    <div class="w3-container w3-left-align" style="margin: 20px;">
      <div class="w3-container w3-left-align" style="margin: 15px 0;">
        <h2>Welcome, <span id="prof_name">{{ user }}.</span> </h2>
        <h4 style="font-weight: 300;">It's good to have you here.</h4>   
      </div>
      <br>
      <div class="w3-panel w3-blue-grey w3-center-align" style="margin: 0 100px; text-align: center;"> 
          <h4>ACCOUNT NUMBER</h4> 
          <h1 id="curr_bal" class="btn-success">{{ curr_user.account_number }}</h1>
      </div>
      <br>
      <div class="w3-panel w3-blue-grey w3-center-align" style="margin: 0 100px; text-align: center;"> 
          <h4>CURRENT BALACE IN YOUR ACCOUNT</h4> 
          <h1 id="curr_bal" class="btn-danger">€{{ curr_user.balance }}</h1> 
      </div>
      <br>
      <div class="w3-panel w3-blue-grey w3-center-align" style="margin: 0 100px; text-align: center;"> 
          <h4>ACCOUNT TYPE</h4> 
          <h1 id="curr_bal" class="btn-info">SAVINGS</h1>
      </div>
    </div>
    
    {% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


